*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Shape1{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.box0{
    height: 50%;
    width: 50%;
    background-color: rgb(186, 222, 255);
}

.box1{
    height: 50%;
    width: 50%;
    background-color: rgb(103, 0, 151);
}



section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Shape2{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.box2{
    height: 50%;
    width: 50%;
    background-color: rgb(218, 173, 255);
    display: flex;
    align-items: end;
}
.smbox1{
    height: 50%;
    width: 50%;
    background-color: rgb(125, 23, 209);
}

.box3{
    height: 50%;
    width: 50%;
    background-color: rgb(218, 173, 255);
    display: flex;
    flex-direction: column;
    align-items: end;
}
.smbox2{
    height: 50%;
    width: 50%;
    background-color: rgb(125, 23, 209);
}



section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Shape3{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.box4{
    height: 50%;
    width: 50%;
    background-color: rgb(84, 100, 238);
}

.box5{
    height: 50%;
    width: 50%;
    background-color: rgb(84, 100, 238);
    display: flex;
    justify-content: center;
    align-items: center;
}
.smbox3{
    height: 50%;
    width: 25%;
    background-color: rgb(50, 63, 173);
}

.box6{
    height: 50%;
    width: 50%;
    background-color: rgb(84, 100, 238);
}



section{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Shape4{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.box7{
    height: 50%;
    width: 50%;
    background-color: rgb(109, 50, 218);
}

.box8{
    height: 50%;
    width: 50%;
    background-color: rgb(69, 3, 192);
    display: flex;
    justify-content: center;
    align-items: center;
}

.box9{
    height: 50%;
    width: 50%;
    background-color: rgb(109, 50, 218);
}

.box10{
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.smbox4{
    height: 50%;
    width: 100%;
    background-color: rgb(209, 23, 110);
}
.smbox5{
    height: 50%;
    width: 100%;
    background-color: rgb(133, 0, 0);
}